@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  /*Bu veb-sahifadagi keraksiz boshliqlarni yoq qilish uchun ishlatiladi.*/
  box-sizing: border-box; /*Har bir elementning kengligi (width) va balandligi (height) ichiga elementning yostiqchasi (padding) va chekkasi (border) kiritiladi. Bu elementlarning o'lchamlarini hisoblashni osonlashtiradi.*/
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3d61c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

header {
  background-color: var(--primary-color);
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
}

.navbar .nav-menu .nav-link {
  color: var(--white-color);
}
